/* Body */
body {
    background-color: #a9c2eb;
}

p, details, li {
    text-align: left;
    text-decoration: solid;
    color: darkslategray;
}

* {
    margin: auto;
}

/* Grid layout for navigation */

nav {
    display: grid;

    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    grid-gap: 1rem;
    grid-auto-rows: 20px;
    grid-auto-columns: 40px;

    padding-bottom: 60px;
}

nav > .nav-item {
    margin-top: 10px;
    margin-bottom: 10px;

    padding: 1.5rem;

    border-style: solid;
    border-color: darkslategray;
    border-radius: 5px;

    background: #a9c2eb;
}

h3 {
    padding-bottom: .4cm
}

.journal-entry, .navigation-container {
    padding-top: .1in;
    padding-bottom: .1in;
    padding-left: 2em; 
    padding-right: 2em;

    margin: 15px 15px 15px 15px;

    background-color: hsl(194, 70%, 82%);

    border-style: solid;
    border-color: darkslategray;

    /* ooh that finesse */
    border-radius: 5px;
}

footer {
    text-align: right;
}

