@media (max-width: 30em) {
    body {
        background-color: red;
    }
}

@font-face {
    font-family: "myFont";
    src: url("fonts/RobotoCondensed-Regular.ttf")
}

html {
    font-family: "myFont";
}

/* Body */
body {
    background-color: #a9c2eb;
}

p, details, li {
    text-align: left;
    text-decoration: solid;
    color: darkslategray;
}

* {
    margin: auto;
}

/* Grid layout for navigation */

nav {
    display: grid;

    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    grid-gap: 1rem;
    grid-auto-rows: 20px;
    grid-auto-columns: 40px;

    padding-bottom: 60px;
}

nav > .nav-item {
    display: inline;
    margin-top: 10px;
    margin-bottom: 10px;

    padding: 1.5rem;

    border-style: solid;
    border-color: darkslategray;
    border-radius: 5px;

    background: #a9c2eb;
}

.nav-item:hover {
    background-color: rgb(238, 47, 47);
}

.nav-item:active {
    background-color:hsl(194, 70%, 82%);
}

/* Flexbox layout for journal entries */

main {
    display: flex;
    flex-direction: column;
    justify-content: safe;
}

h3 {
    padding-bottom: .4cm
}

ul li {
    font-size: 12pt;
}

/* caption */
img + p {
    color: rgb(1, 33, 92);
    text-align: center;
}

/* image alignment */
h3 ~ img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a[href^="#"] {
    color: darkslategray;
}

div.journal-entry, .navigation-container {
    display: block;

    padding-top: 2ex;
    padding-bottom: .1in;
    padding-left: 2em; 
    padding-right: 2em;

    margin: 15px 15px 15px 15px;

    /* flexbox */
    flex-shrink: 2;
    flex-basis: auto;

    background-color: hsl(194, 70%, 82%);

    border-style: solid;
    border-color: darkslategray;

    /* ooh that finesse */
    border-radius: 5px;
}

footer {
    text-align: right;
}

#rate-day {
    position: relative;
    left: 10px;

    max-width: 50%;

    background-color: hsl(194, 70%, 82%);
}

